$color-1: #032f3e;
$color-2: #ab987a;
$color-white: #fff;
$color-black: #000;

$color-border-nav: #d5d5d5;
$color-border-nav-list: #0d3948;
$color-nav-list-hover: $color-2;
$color-button-project-hover: $color-2;
$color-bgc-article-hover: $color-1;

$color-bgc-section: #f8f9fb;
$color-bgc-section-learn-to-play: #9e9e9e;
$color-font-section: #616161;

$color-bgc-footer: #0d3542;
$color-font-footer-copyright: #536a72;

$font-title-hero: 6rem;

$font-big: 3.6rem;
$font-medium: 2.4rem;
$font-xm: 1.8rem;
$font-regular: 1.4rem;
