.button_project {
	width: 22.5rem;
	height: 5.5rem;
	background-color: $color-1;
	color: $color-white;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: $font-xm;
	letter-spacing: 1px;
	border: 1px solid $color-1;
	cursor: pointer;
	margin: 20px 0;
	&:hover {
		color: $color-button-project-hover;
	}
}
.scroll_up {
	width: 5rem;
	height: 5rem;
	border: 2px solid $color-white;
	border-radius: 10px;
	background-color: $color-1;
	position: fixed;
	z-index: 100;
	right: 3%;
	bottom: 12%;
	cursor: pointer;
	display: none;
	&:after {
		content: '';
		display: block;
		width: 2rem;
		height: 2rem;
		border: 2px solid $color-white;
		border-right: 0;
		border-bottom: 0;
		top: 40%;
		margin-left: 13px;
		transform: rotate(45deg);
		position: absolute;
	}
}
