.page-footer {
	height: 80vh;
	background-color: $color-bgc-footer;
	div.container {
		height: 100%;
		display: flex;
		align-items: center;
	}
}
.footerCol-1,
.footerCol-2,
.footerCol-3 {
	width: 33.33%;
	height: 37rem;
	color: $color-white;
	letter-spacing: 1px;
	padding: 0 20px 0 25px;
	h6 {
		font-size: $font-medium;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		margin: 0 0 40px 0;
		&:after {
			content: '';
			background-color: $color-2;
			display: block;
			margin-top: 2rem;
			width: 3.2rem;
			height: 0.3rem;
		}
	}
	p {
		font-size: $font-regular;
		font-family: 'Oswald', sans-serif;
	}
}
.footerCol-1 {
	p {
		padding: 10px 0;
	}
	img {
		padding-top: 9px;
	}
}
.footerCol-2 {
	a {
		display: block;
		text-decoration: none;
		color: $color-white;
		font-size: $font-regular;
		margin: 25px 0;
		i {
			width: 1rem;
			height: 1rem;
			color: $color-2;
			font-size: $font-xm;
			padding: 0 30px 0 0;
		}
	}
}
.footerCol-3 {
	time {
		color: $color-2;
		font-size: $font-regular;
	}
	p {
		&:nth-child(3), &:nth-child(6) {
			font-size: $font-xm;
			text-transform: uppercase;
			font-weight: 700;
			margin: 2px 0 10px 0;
		}
	}
}
.footer-copyright {
	height: auto;
	background-color: $color-1;
	div.container {
		position: relative;
	}
	p {
		margin: 0;
		color: $color-font-footer-copyright;
		line-height: 13rem;
		font-family: 'Oswald', sans-serif;
		font-size: $font-regular;
		letter-spacing: 1px;
		width: 60%;
	}
}
