.social-list_nav {
	a {
		color: $color-1;
		padding: 0 7px;
		text-align: center;
	}
}
.social-list_portfolio {
	a {
		color: $color-font-section;
		padding-left: 30px;
		font-size: $font-xm;
	}
}
.social-list_footer {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: calc(50% - 0.7rem);
	li {
		display: inline-block;
		padding: 0 10px;
	}
	i {
		color: $color-font-footer-copyright;
		font-size: $font-regular;
	}
}
